<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Редактирование данных</title>
</head>
<body>
    {% block sidebar %}
      {% include "sidebar.html" %}
    {% endblock %}
    <h1>Редактирование данных</h1>
    <form action="{{ url_for('edit.edit', id=data.id) }}" method="post">
        <label for="name">Имя:</label>
        <input type="text" name="name" id="name" value="{{ data.name }}"><br>
        <label for="age">Возраст:</label>
        <input type="text" name="age" id="age" value="{{ data.age }}"><br>
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>